<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="be.stateless.test">
      <sectionGroup name="biztalk.factory">
        <section name="claimStore" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithInvalidCheckInDirectories" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithoutCheckInDirectories" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithNegativeFileLockTimeout" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithNegativePollingInterval" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithNonexistentCheckOutDirectory" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithNonexistentCheckInDirectories" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="claimStoreWithoutPollingInterval" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
        <section name="unconfiguredClaimStore" type="Be.Stateless.BizTalk.Claim.Store.Configuration.ClaimStoreConfigurationSection, Be.Stateless.BizTalk.Claim.Store.Agent"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <be.stateless.test>
    <biztalk.factory>

      <claimStore>
        <agent checkOutDirectory="c:\windows\temp" pollingInterval="00:03:33">
          <checkInDirectories>
            <directory path="c:\windows"/>
            <directory path="c:\windows\temp"/>
          </checkInDirectories>
        </agent>
      </claimStore>

      <claimStoreWithInvalidCheckInDirectories>
        <agent pollingInterval="00:03:33">
          <checkInDirectories>
            <directory/>
          </checkInDirectories>
        </agent>
      </claimStoreWithInvalidCheckInDirectories>

      <claimStoreWithoutCheckInDirectories>
        <agent pollingInterval="00:03:33">
          <checkInDirectories/>
        </agent>
      </claimStoreWithoutCheckInDirectories>

      <claimStoreWithNegativeFileLockTimeout>
        <agent checkOutDirectory="c:\windows\temp" fileLockTimeout="-00:03:33">
          <checkInDirectories>
            <directory path="c:\windows\temp"/>
          </checkInDirectories>
        </agent>
      </claimStoreWithNegativeFileLockTimeout>

      <claimStoreWithNegativePollingInterval>
        <agent checkOutDirectory="c:\windows\temp" pollingInterval="-00:03:33">
          <checkInDirectories>
            <directory path="c:\windows\temp"/>
          </checkInDirectories>
        </agent>
      </claimStoreWithNegativePollingInterval>

      <claimStoreWithNonexistentCheckOutDirectory>
        <agent checkOutDirectory="c:\some-nonexistent-folder">
          <checkInDirectories>
            <directory path="c:\windows\temp"/>
          </checkInDirectories>
        </agent>
      </claimStoreWithNonexistentCheckOutDirectory>

      <claimStoreWithNonexistentCheckInDirectories>
        <agent>
          <checkInDirectories>
            <directory path="c:\some-nonexistent-folder"/>
          </checkInDirectories>
        </agent>
      </claimStoreWithNonexistentCheckInDirectories>

      <claimStoreWithoutPollingInterval>
        <agent checkOutDirectory="c:\windows\temp">
          <checkInDirectories>
            <directory path="c:\windows\temp"/>
          </checkInDirectories>
        </agent>
      </claimStoreWithoutPollingInterval>

      <unconfiguredClaimStore/>

    </biztalk.factory>
  </be.stateless.test>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
